@import './colours';

.btn {
  font-family: inherit;
  font-size: 0.95em;
  padding: 8px 12px;
  background: color(primary);
  border: none;
  color: #fff;
  transition: 0.3s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.125);
  cursor: pointer;
  border-radius: 5px;

  &:hover,
  &:focus {
    background: darken(color(primary), 15%);
  }

  &.btn-danger {
    background: color(danger);
    color: #fff;

    &:hover,
    &:focus {
      background: darken(color(danger), 15%);
    }
  }

  &.btn-grey {
    background: #afafaf;
    color: #000000;
  }

  &.btn-ghost {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: #444;
    box-shadow: none;

    &:hover,
    &:focus {
      background: rgba(#000, 0.1);
    }
  }

  &.btn-round {
    border-radius: 50%;
    line-height: 0;
    padding: 5px;
  }

  &:disabled {
    background: #ddd;
    color: #999;
    cursor: not-allowed;
  }
}

.btn-group {
  .btn {
    border-radius: 0;

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }

    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }
  }
}
