@import './colours';

.btn {
  font-family: inherit;
  font-size: 0.95em;
  padding: 0.8rem 1rem;
  background: color(primary);
  border: none;
  color: #fff;
  transition: 0.3s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(63, 101, 130, 0.225);
  cursor: pointer;
  border-radius: 2px;

  &:hover,
  &:focus {
    background: darken(color(primary), 15%);
    box-shadow: 0 1px 8px 0 rgba(63, 101, 130, 0.225);
  }

  &.btn-danger {
    background: color(danger);
    color: #fff;

    &:hover,
    &:focus {
      background: darken(color(danger), 15%);
    }
  }

  &.btn-grey {
    background: #afafaf;
    color: #000000;
  }

  &.btn-ghost {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: #444;
    box-shadow: none;

    &:hover,
    &:focus {
      background: rgba(#000, 0.1);
    }
  }

  &.btn-round {
    border-radius: 50%;
    line-height: 0;
    padding: 5px;
  }

  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }
}

.btn-group {
  .btn {
    border-radius: 0;
    background: color(primary);
    &:hover,
    &:focus {
      background: darken(color(primary), 15%);
    }
    &.btn-danger {
      background: color(danger);
    }

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }

    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }
    &.btn-danger {
      background: color(danger);
      color: #fff;

      &:hover,
      &:focus {
        background: darken(color(danger), 15%);
      }
    }

    &.btn-grey {
      background: #afafaf;
      color: #000000;
    }

    &.btn-ghost {
      background: transparent;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      color: #444;
      box-shadow: none;

      &:hover,
      &:focus {
        background: rgba(#000, 0.1);
      }
    }
  }
}
