.form-group {
  display: block;
  margin: 8px 0;

  label {
    display: block;
    font-weight: 700;
  }

  .error-messages {
    display: block;
    margin: 8px 0;

    .error {
      background: #bb0020;
      color: #fff;
      padding: 0px 12px;
      border-radius: 3px;

      p {
        margin: 0;
      }
    }
  }
}

.form-control {
  display: block;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 5px 9px;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: inherit;
  font-size: 1em;
  background: #fff;

  &[type='password'] {
    font-family: initial;
  }

  &[type='file'] {
    font-size: 0.8em;
  }

  &:focus {
    background: #fafafa;
    outline: none;
  }

  &.ng-valid {
    border-left: 5px solid #00bb20;
  }

  &.ng-invalid.ng-touched {
    border-left: 5px solid #bb0020;
  }
}
