:host {
  border-radius: 6px;
  box-shadow: 0 1px 9px rgba(153, 166, 170, 0.375);
  background-color: #fff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  background: #fff;
  display: block;
  border: 1px solid #dadce0;
}
