:host() {
  display: block;
}

rb-card {
  padding: 16px;
}

#coords-container,
#location-name,
#location-name h2 {
  width: 100%;
  text-align: right;
  font-size: 0.8em;
  color: #999;
}

pre {
  white-space: pre-wrap;
}
