@import '../../../styles/layout/grid';

#page-content {
  padding: 16px;
}

.dashboard-item {
  margin: 8px 0.5%;
  transition: 0.4s;
  order: 2;
  @include breakpoint(md) {
    margin: 0 0.5%;
  }
}

.active {
  order: 1;
}
