<section id="todo-container">
  <rb-card>
    <div id="todo-list">
      <ul>
        <li *ngFor="let todo of todos; index as i">
          <div class="form-group">
            <rb-checkbox
              [checked]="todo.status === '1'"
              [label]="todo.todo"
              [id]="'todo-' + todo.todoID"
              [name]="'todo-' + todo.todoID"
              (isChecked)="checkboxChecked($event, todo.todoID)"
            ></rb-checkbox>
          </div>
        </li>
      </ul>
    </div>
  </rb-card>
</section>
