#todo-list {
  padding: 16px;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  .form-group {
    position: relative;
    .delete-todo {
      position: absolute;
      right: 0;
      top: 0;
    }
    label {
      display: block;
      max-width: 75%;
    }
  }
}
