#chips-item-wrapper {
  &:focus-within {
    outline: auto 5px -webkit-focus-ring-color;
  }

  input {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

:host {
  &.ng-valid {
    #chips-item-wrapper {
      border-left: 5px solid #00bb20;
    }
  }

  &.ng-invalid.ng-touched {
    #chips-item-wrapper {
      border-left: 5px solid #bb0020;
    }
  }
}
