<div id="photo-toolbar" class="flex-container toolbar">
  <button class="toolbar-btn" (click)="toggleModal()">Add photos</button>
  <button class="toolbar-btn" (click)="toggleExifPanel()">
    Toggle Exif Panel
  </button>
  <button class="toolbar-btn" [disabled]="selectedPhotos.length === 0">
    Delete Photos
  </button>
</div>
<div id="photo-grid">
  <div id="no-photos" *ngIf="!photos || photos.length === 0">
    <p>No photos found 😢</p>
  </div>
  <div
    class="photo"
    *ngFor="let photo of photos"
    tabindex="0"
    [class.is-selected]="photo.is_selected"
  >
    <img
      [src]="photo.path"
      [alt]="photo.caption"
      (click)="toggleSelect(photo, $event)"
    />
    <button class="btn btn-round btn-ghost" (click)="togglePhotoMenu(photo)">
      <i class="material-icons">more_vert</i>
    </button>
    <div class="photo-details" *ngIf="!photo.edit_mode">
      <p class="photo-caption">{{ photo.caption }}</p>
      <pre class="photo-path">{{ photo.path }}</pre>
    </div>
    <div class="photo-caption-edit" *ngIf="photo.edit_mode">
      <div class="form-group">
        <label for="photo-caption-{{ photo.photoID }}">Caption</label>
        <input
          class="form-control"
          type="text"
          name="photo-caption-{{ photo.photoID }}"
          id="photo-caption-{{ photo.photoID }}"
          [(ngModel)]="photo.caption"
          (onblur)="captionSubmit(photo)"
          (keyup.enter)="captionSubmit(photo)"
        />
      </div>
    </div>
    <div class="image-menu" *ngIf="photo.menu_active">
      <ul>
        <li>
          <a
            (click)="togglePhotoFullscreen(photo)"
            (keyup.enter)="togglePhotoFullscreen(photo)"
            tabindex="0"
            >View Full Screen</a
          >
        </li>
        <li>
          <a
            (click)="setAlbumImage(photo)"
            (keyup.enter)="setAlbumImage(photo)"
            tabindex="0"
            >Set as Album Cover</a
          >
        </li>
        <li>
          <a (click)="togglePhotoEditMode(photo)" tabindex="0"
            ><span *ngIf="!photo.edit_mode">Enter Edit Mode</span
            ><span *ngIf="photo.edit_mode">Exit Edit Mode</span></a
          >
        </li>
        <li><a (click)="deletePhoto(photo)" tabindex="0">Delete</a></li>
      </ul>
    </div>
  </div>
</div>

<rb-modal
  id="add-photos-modal"
  [active]="modalState === 'active'"
  [height]="'80%'"
  [width]="'80%'"
  (cancel)="toggleModal()"
>
  <rb-upload-form
    [albumID]="albumID"
    (uploaded)="onUploadEnd()"
  ></rb-upload-form>
</rb-modal>

<div id="fullscreen-image" *ngIf="fullScreenImage">
  <div id="fullscreen-overlay" (click)="closeFullScreen()"></div>
  <button
    class="btn btn-round btn-ghost"
    (click)="closeFullScreen()"
    id="fullscreen-close"
  >
    <i class="material-icons">close</i>
  </button>
  <img
    [src]="fullScreenImage.path"
    [alt]="fullScreenImage.caption !== 'null' ? fullScreenImage.caption : ''"
  />
</div>

<rb-exif-panel
  *ngIf="exifPanelState === 'active'"
  [exif]="currentExif"
></rb-exif-panel>
