@import '../../../styles/components/colours';
#page-header {
  padding: 8px 16px;
  background: linear-gradient(
    45deg,
    color(primary),
    lighten(color(primary), 5%)
  );
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0;
  width: 100%;
  transition: 0.4s cubic-bezier(0.8, -0.6, 0.2, 1.5);
  &.menu-active {
    margin-left: 225px;
    width: calc(100% - 225px);
  }
}
