@import '../styles/layout/grid';

#main-content {
  width: 100%;
  margin: 0;
  transition: 0.4s cubic-bezier(0.8, 0, 0.2, 1);
  min-height: calc(100% - 162px);
  overflow-y: auto;

  &.menu-active {
    @include breakpoint(md) {
      margin-left: 225px;
      width: calc(100% - 225px);
    }
  }
}
