<div id="blog-list-container">
  <table id="blog-list" *ngIf="posts">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Categories</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date | date: 'dd/MM/yyy HH:mm' }}</td>
        <td>{{ post.categories }}</td>
        <td>{{ post.status === '1' ? 'Published' : 'Draft' }}</td>
        <td>
          <div class="btn-group post-actions">
            <button
              class="btn"
              (click)="publishPost(post.id)"
              *ngIf="post.status === '0'"
            >
              Publish
            </button>
            <button
              class="btn"
              (click)="unPublishPost(post.id)"
              *ngIf="post.status === '1'"
            >
              Unpublish
            </button>
            <button class="btn" [routerLink]="['edit', post.id]">Edit</button>
            <button class="btn btn-secondary">View</button>
            <button class="btn btn-danger" (click)="deletePost(post.id)">
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
