@import '../../../styles/components/colours';

:host() {
  padding: 16px;
  display: block;
}
#blog-list {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  td,
  th {
    padding: 8px;
    text-align: left;

    &:nth-of-type(1) {
      text-align: right;
    }
  }

  thead {
    background: color(secondary);
    color: #fff;
  }
}
