<div id="upload-form">
  <div class="form-group">
    <label for="files">Upload photos</label>
    <input
      type="file"
      name="files"
      id="files"
      multiple
      required
      (change)="generatePreviews($event)"
    />
  </div>
  <div class="previews" *ngIf="previews.length > 0">
    <div class="img-preview" *ngFor="let preview of previews">
      <img [src]="preview" />
    </div>
  </div>
</div>
<div class="upload-button-container" *ngIf="previews.length > 0">
  <button class="btn btn-primary" (click)="submitForm()">Upload!</button>
</div>
