<div class="album-grid">
  <div id="add-album">
    <a (click)="toggleModal()">
      <p>
        <i class="material-icons">
          add
        </i>
      </p>
      <p>Add an Album</p>
    </a>
  </div>
  <div class="album" *ngFor="let album of albums">
    <div class="album-overlay" [class.darken]="!album.photoID"></div>
    <a [routerLink]="[album.albumID]">
      <img *ngIf="album.photoID" [src]="album.path" [alt]="album.caption" />
      <span class="album-name">{{ album.name }}</span>
    </a>
  </div>
</div>
<rb-modal
  id="new-album-modal"
  [active]="modalState === 'active'"
  (cancel)="toggleModal()"
>
  <rb-form
    [questions]="questions"
    buttonText="Save"
    (formSubmit)="onSubmit($event)"
  ></rb-form>
</rb-modal>
