/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f5f6f8;
}
/* Imports */
@import './styles/components/colours';
@import './styles/components/typography';
@import './styles/components/form-items';
@import './styles/components/buttons';
@import './styles/components/chips';
@import './styles/accessibility';
@import './styles/layout/grid';
